.cta-block {
    background-color: rgba(179, 181, 198, 0.2);
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.cta__section {
    margin-bottom: 2rem;
}

.cta__heading {
    margin-bottom: 0.5rem;
    padding-top: 0;
}
